<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 400px;">
    <h2 class="text-center mb-4">Sign in to reservations</h2>
    <form (submit)="login(); $event.preventDefault()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" class="form-control" [(ngModel)]="auth.email" name="email" placeholder="Email" required/>
      </div>
      
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" class="form-control" [(ngModel)]="auth.password" name="password" placeholder="password" required/>
      </div>

      <button type="submit" class="btn btn-primary btn-block mt-3">Sign in</button>

      <p class="text-center mt-3">
        <a [routerLink]="'/register'" class="text-primary" style="cursor: pointer;">Sign up</a>
      </p>
    </form>
  </div>
</div>
